 .u-section-1 {
  min-height: 1106px;
}

.u-section-1 .u-group-elements-1 {
  width: 1549px;
  min-height: 508px;
  height: auto;
  margin: 0 17px 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 260px;
  background-image: none;
  margin-top: 248px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  height: 260px;
  background-image: none;
  width: 1549px;
  margin: -508px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/foto-perfil.jpg");
  background-position: 50% 50%;
  margin: -465px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 77px 373px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 378px 0 379px;
}

.u-section-1 .u-social-icons-1 {
  height: 53px;
  min-height: 16px;
  width: 306px;
  min-width: 120px;
  margin: 90px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    width: 1253px;
    margin-right: -111px;
  }

  .u-section-1 .u-shape-2 {
    width: 1253px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 273px;
    margin-right: 273px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 278px;
    margin-left: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 1038px;
    margin-right: calc(((100% - 720px) / 2) + -62px);
  }

  .u-section-1 .u-shape-1 {
    width: 1038px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 1035px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 163px;
    margin-right: 163px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 168px;
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 776px;
    min-height: 459px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    height: 205px;
    margin-top: 254px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -459px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 394px;
    height: 394px;
    margin-top: -428px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 78px;
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 508px;
    min-height: 408px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    height: 154px;
    width: 506px;
  }

  .u-section-1 .u-shape-2 {
    width: 508px;
    margin-top: -408px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -374px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}